<form action="/sign_out">
  <input type="submit" value="Sign Out">
</form>

<h1>Makers BnB</h1>
<h2>Welcome <%= @name %>!</h2>
<h2>This is testing the calendar month: <%= @calendar.month %></h2>
<h2>This is testing the calendar day: <%= @calendar.day %></h2>
<ul>
  <% @property.each do |property| %>
    <li><%= property.name %>:</li>
    <li><%= property.description %></li>
    <li><%= property.price %></li>
    <form action="/property">
      <input type="submit" value="Book A Date">
    </form>
  <% end %>
</ul>
<form action="/add">
  <input type="submit" value="Add Listing!" />
</form>
