<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="properties.css">

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://i.ibb.co/HzFTZgX/logo-transparent.png" width="40" height="40" class="d-inline-block align-top" alt="">
    <text>Makers BnB</text>
  </a>

  <form action="/sign_out">
    <sign-out>
      <input type="submit" value="Sign Out" class="button" >
    </sign-out>
  </form>
</nav>
<div class="container">
  <section class="row">
    <div class="col-4"></div>
    <div class="col-6"
      <h2>Hi <%= @name %></h2>
    </div>
    <div class="col-2"
      <h3><%= @email %></h3>
    </div>
  </section>
</div>
<!-- <h2>Hi <%= @user %></h2>
<h2><%= @calendar.day %></h2>
<h2><%= @calendar.month %></h2> -->
<ul>
  <% @property.each do |property| %>
    <li><%= property.name %>:</li>
    <li><%= property.description %></li>
    <li><%= property.price %></li>
    <form action="/property">
      <input type="submit" value="Book A Date" class="button">
    </form>
  <% end %>
</ul>
<form action="/add">
  <input type="submit" value="Add Listing!" class="button"/>
</form>
